.message-2CShn3.groupStart-3Mlgv1:not(.systemMessage-1H1Z20) .contents-2MsGLg::before {
content: '';
width: 50px;
height: 50px;
background: url("https://i.imgur.com/9qHnr0W.png") center/cover;
transform: translate(-62px, -1px);
z-index: 99999;
position: absolute;
pointer-events: none;
}
