/**
 * @name SummerVibeV3
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/RsO2t4f.png');
  --background-image-blur: 3px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/iIz7OxV.png');
  --popout-image-blur: 4px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/h3EXxCS.png');
  --overlay-image-blur: 3px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/lhQGCuD.png');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.62;
  --left-brightness: 0.62;
  --middle-brightness: 0.62;
  --right-brightness: 0;
  --overlay-brightness: 0.76;
  --gradient-primary: 166,218,123;
  --gradient-secondary: 192,102,9;
  --link-colour: #DC8D4D;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 227deg;
  --tint-colour: 218,216,137;
  --tint-brightness: 0;
  --font: Comfortaa;
  --window-padding: 14px;
  --window-roundness: 24px;
  --update-notice-1: none;
  --rs-small-spacing: 1px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 0px;
  --rs-small-width: 1.5px;
  --rs-medium-width: 1.5px;
  --rs-large-width: 1.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


